<header role="masthead">
	<h1 id="branding"><a href="http://foodsense.is/" title="Home">Food Sense</a></h1>
	<nav>
		<ul>
			<li id="t-tastemakers"><a href="tastemakers">美食</a></li>
			<li id="t-blog"><a href="blog">博客</a></li>
			<li id="t-vendors"><a href="a-list">美景</a></li>
			<li id="t-contribute"><a href="contribute">贡献</a></li>
			<li id="t-about"><a href="about">关于我们</a></li>
		</ul>
	</nav>
</header>
