<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js wf-fftisawebpro-n7-active wf-fftisawebpro-i7-active wf-fftisawebpro-i4-active wf-fftisawebpro-n4-active wf-active" lang="en"><!--<![endif]--><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>博羸兄弟 | 不忘初心　方得始终</title>
<meta name="description" content="博羸兄弟一群追寻自我的人">
<meta name="author" content="博羸兄弟">
<meta name="viewport" content="width=device-width; initial-scale=1.0">

<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/foodsense-tastemakers">

<!-- CSS -->
<link rel="stylesheet" media="screen, print" href="css/basic.css">
<!--[if gte IE 7]><!-->
<link rel="stylesheet" media="screen" href="css/screen.css">
<!--<![endif]-->

<link rel="shortcut icon" type="image/ico" href="http://foodsense.is/favicon.ico">
<link rel="apple-touch-icon" href="http://foodsense.is/apple-touch-icon.png">

<!-- SCRIPTS -->
<script src="js/ga.js" async="" type="text/javascript"></script>
<script type="text/javascript" src="js/shn5sjh.js"></script>
<style type="text/css">.tk-ff-tisa-web-pro{font-family:"ff-tisa-web-pro",serif;}</style><style type="text/css">@font-face{font-family:ff-tisa-web-pro;src:url(https://fonts.typekit.net/af/776b9e/00000000000000000001707c/27/l?subset_id=2&fvd=n7) format("woff2");font-weight:700;font-style:normal;}@font-face{font-family:ff-tisa-web-pro;src:url(https://fonts.typekit.net/af/085970/00000000000000000001707d/27/l?subset_id=2&fvd=i7) format("woff2");font-weight:700;font-style:italic;}@font-face{font-family:ff-tisa-web-pro;src:url(https://fonts.typekit.net/af/39a866/000000000000000000017080/27/l?subset_id=2&fvd=i4) format("woff2");font-weight:400;font-style:italic;}@font-face{font-family:ff-tisa-web-pro;src:url(https://fonts.typekit.net/af/cf0a5b/000000000000000000017087/27/l?subset_id=2&fvd=n4) format("woff2");font-weight:400;font-style:normal;}</style><script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script src="css/jquery.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="/-/js/jquery-1.6.1.js"%3E%3C/script%3E'))</script>
<!-- enable HTML5 elements in IE7+8 -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="/-/js/selectivizr.js"></script>
<![endif]-->
<script type="text/javascript" src="js/scripts.js"></script>

<style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(http://static.xx.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(http://static.xx.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(http://static.xx.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(http://static.xx.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_close_icon:active{background:url(http://static.xx.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(http://static.xx.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_loader{background-color:#f6f7f9;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(http://static.xx.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(http://static.xx.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(http://static.xx.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(http://static.xx.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(http://static.xx.fbcdn.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(http://static.xx.fbcdn.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{width:auto;height:auto;min-height:initial;min-width:initial;background:none}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{color:#fff;display:block;padding-top:20px;clear:both;font-size:18px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;bottom:0;left:0;right:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29487d;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(http://static.xx.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f6f7f9;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(http://static.xx.fbcdn.net/rsrc.php/v2/yD/r/t-wz8gw1xG1.png);background-repeat:no-repeat;background-position:50% 50%;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(http://static.xx.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}</style></head>

<body id="tastemakers-page">

<div id="wrap">

<% include header.ejs %>

<div id="content" class="gallery">

<header role="page">

	<h1 class="tastemakers icon">美食美客</h1>
	<p>美食是生活中很重要的一部分</p>

</header>

<section id="main">

<article>
	<a href="http://foodsense.is/tastemakers/dairy-free-chocolate-ice-cream-torte"><img src="images/dairy_free_chocolate_icecream_torte_recipe3.jpg" alt="Dairy Free Chocolate Ice Cream Torte"></a>
	<header><h1><a href="http://foodsense.is/tastemakers/dairy-free-chocolate-ice-cream-torte">Dairy Free Chocolate Ice Cream Torte</a></h1></header>
	<p>
	Almonds, dates, chocolate, coconut milk, and honey combine to make a perfectly sweet, and sweet for you, dessert.</p>

	<div class="facebook-like"><div class=" fb_reset" id="fb-root"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe src="http://staticxx.facebook.com/connect/xd_arbiter/r/uN4_cXtJDGb.js?version=42#channel=f193dd061a4f9fa&amp;origin=http%3A%2F%2Ffoodsense.is" style="border: medium none;" tabindex="-1" title="Facebook Cross Domain Communication Frame" aria-hidden="true" id="fb_xdm_frame_http" scrolling="no" allowfullscreen="true" allowtransparency="true" name="fb_xdm_frame_http" frameborder="0"></iframe><iframe src="https://staticxx.facebook.com/connect/xd_arbiter/r/uN4_cXtJDGb.js?version=42#channel=f193dd061a4f9fa&amp;origin=http%3A%2F%2Ffoodsense.is" style="border: medium none;" tabindex="-1" title="Facebook Cross Domain Communication Frame" aria-hidden="true" id="fb_xdm_frame_https" scrolling="no" allowfullscreen="true" allowtransparency="true" name="fb_xdm_frame_https" frameborder="0"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe src="https://www.facebook.com/connect/ping?client_id=180586695331037&amp;domain=foodsense.is&amp;origin=1&amp;redirect_uri=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FuN4_cXtJDGb.js%3Fversion%3D42%23cb%3Dfcc24dd13fea6e%26domain%3Dfoodsense.is%26origin%3Dhttp%253A%252F%252Ffoodsense.is%252Ff193dd061a4f9fa%26relation%3Dparent&amp;response_type=token%2Csigned_request%2Ccode&amp;sdk=joey" style="display: none;" scrolling="no" allowfullscreen="true" allowtransparency="true" name="f30a307bf38a788" frameborder="0"></iframe></div></div></div><script src="tastemakers_files/all.js"></script><fb:like fb-iframe-plugin-query="action=like&amp;app_id=180586695331037&amp;container_width=0&amp;font=lucida%20grande&amp;href=http%3A%2F%2Ffoodsense.is%2Ftastemakers%2Fdairy-free-chocolate-ice-cream-torte&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=180" fb-xfbml-state="parsed" class=" fb_iframe_widget" href="http://foodsense.is/tastemakers/dairy-free-chocolate-ice-cream-torte" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe src="https://www.facebook.com/plugins/like.php?action=like&amp;app_id=180586695331037&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FuN4_cXtJDGb.js%3Fversion%3D42%23cb%3Df2cc098a0c9c15a%26domain%3Dfoodsense.is%26origin%3Dhttp%253A%252F%252Ffoodsense.is%252Ff193dd061a4f9fa%26relation%3Dparent.parent&amp;container_width=0&amp;font=lucida%20grande&amp;href=http%3A%2F%2Ffoodsense.is%2Ftastemakers%2Fdairy-free-chocolate-ice-cream-torte&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=180" style="border: medium none; visibility: hidden; width: 0px; height: 0px;" title="fb:like Facebook Social Plugin" scrolling="no" allowfullscreen="true" allowtransparency="true" name="f3e0382761baf4e" frameborder="0" height="1000px" width="180px"></iframe></span></fb:like></div>
	<footer>
		<p class="fn url girl"><a href="http://www.thevintagemixer.com/2012/05/dairy-free-and-gluten-free-chocolate-ice-cream-torte/">Becky at The Vintage Mixer →</a></p>
	</footer>
</article>


<article>
	<a href="http://foodsense.is/tastemakers/blood-orange-upside-down-cake-with-hazelnuts-and-thyme"><img src="images/BloodOrangeCake.jpg" alt="Blood Orange Upside-down Cake with Hazelnuts and Thyme"></a>
	<header><h1><a href="http://foodsense.is/tastemakers/blood-orange-upside-down-cake-with-hazelnuts-and-thyme">Blood Orange Upside-down Cake with Hazelnuts…</a></h1></header>
	<p> Blood oranges combine with hazelnuts, polenta, maple syrup, and
olive oil for a heart-healthy treat that tastes like it’s covered in…
	</p><div class="facebook-like"><div id="fb-root"></div><script src="tastemakers_files/all.js"></script><fb:like fb-iframe-plugin-query="action=like&amp;app_id=180586695331037&amp;container_width=0&amp;font=lucida%20grande&amp;href=http%3A%2F%2Ffoodsense.is%2Ftastemakers%2Fblood-orange-upside-down-cake-with-hazelnuts-and-thyme&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=180" fb-xfbml-state="parsed" class=" fb_iframe_widget" href="http://foodsense.is/tastemakers/blood-orange-upside-down-cake-with-hazelnuts-and-thyme" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe src="https://www.facebook.com/plugins/like.php?action=like&amp;app_id=180586695331037&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FuN4_cXtJDGb.js%3Fversion%3D42%23cb%3Df3ff7f835067552%26domain%3Dfoodsense.is%26origin%3Dhttp%253A%252F%252Ffoodsense.is%252Ff193dd061a4f9fa%26relation%3Dparent.parent&amp;container_width=0&amp;font=lucida%20grande&amp;href=http%3A%2F%2Ffoodsense.is%2Ftastemakers%2Fblood-orange-upside-down-cake-with-hazelnuts-and-thyme&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=180" style="border: medium none; visibility: hidden; width: 0px; height: 0px;" title="fb:like Facebook Social Plugin" scrolling="no" allowfullscreen="true" allowtransparency="true" name="f716ea8543d14a" frameborder="0" height="1000px" width="180px"></iframe></span></fb:like></div>
	<footer>
		<p class="fn url girl"><a href="http://reciperenovator.com/special-diets/vegan/blood-orange-upside-down-cake/">The Recipe Renovator →</a></p>
	</footer>
</article>


<article>
	<a href="http://foodsense.is/tastemakers/simple-lentil-dal"><img src="images/LentilDahl.jpg" alt="Simple Lentil Dal"></a>
	<header><h1><a href="http://foodsense.is/tastemakers/simple-lentil-dal">Simple Lentil Dal</a></h1></header>
	<p>
	A hearty, flavorful, and protein-packed lentil stew.</p>

	<div class="facebook-like"><div id="fb-root"></div><script src="tastemakers_files/all.js"></script><fb:like fb-iframe-plugin-query="action=like&amp;app_id=180586695331037&amp;container_width=0&amp;font=lucida%20grande&amp;href=http%3A%2F%2Ffoodsense.is%2Ftastemakers%2Fsimple-lentil-dal&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=180" fb-xfbml-state="parsed" class=" fb_iframe_widget" href="http://foodsense.is/tastemakers/simple-lentil-dal" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe src="https://www.facebook.com/plugins/like.php?action=like&amp;app_id=180586695331037&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FuN4_cXtJDGb.js%3Fversion%3D42%23cb%3Df1d6aa40909126c%26domain%3Dfoodsense.is%26origin%3Dhttp%253A%252F%252Ffoodsense.is%252Ff193dd061a4f9fa%26relation%3Dparent.parent&amp;container_width=0&amp;font=lucida%20grande&amp;href=http%3A%2F%2Ffoodsense.is%2Ftastemakers%2Fsimple-lentil-dal&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=180" style="border: medium none; visibility: hidden; width: 0px; height: 0px;" title="fb:like Facebook Social Plugin" scrolling="no" allowfullscreen="true" allowtransparency="true" name="f1172d0684d800a" frameborder="0" height="1000px" width="180px"></iframe></span></fb:like></div>
	<footer>
		<p class="fn url girl"><a href="http://www.fortheloveoffoodblog.com/2012/04/simple-lentil-dal.html">Sonnet, For The Love of Food →</a></p>
	</footer>
</article>


<article>
	<a href="http://foodsense.is/tastemakers/mexican-tofu-frittata"><img src="images/squarefrittata.jpg" alt="Mexican Tofu Frittata"></a>
	<header><h1><a href="http://foodsense.is/tastemakers/mexican-tofu-frittata">Mexican Tofu Frittata</a></h1></header>
	<p>
	The perfect Cinco de Mayo brunch, a Mexican Tofu Frittata!</p>

	<div class="facebook-like"><div id="fb-root"></div><script src="tastemakers_files/all.js"></script><fb:like fb-iframe-plugin-query="action=like&amp;app_id=180586695331037&amp;container_width=0&amp;font=lucida%20grande&amp;href=http%3A%2F%2Ffoodsense.is%2Ftastemakers%2Fmexican-tofu-frittata&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=180" fb-xfbml-state="parsed" class=" fb_iframe_widget" href="http://foodsense.is/tastemakers/mexican-tofu-frittata" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe src="https://www.facebook.com/plugins/like.php?action=like&amp;app_id=180586695331037&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FuN4_cXtJDGb.js%3Fversion%3D42%23cb%3Df39ef00de570ac8%26domain%3Dfoodsense.is%26origin%3Dhttp%253A%252F%252Ffoodsense.is%252Ff193dd061a4f9fa%26relation%3Dparent.parent&amp;container_width=0&amp;font=lucida%20grande&amp;href=http%3A%2F%2Ffoodsense.is%2Ftastemakers%2Fmexican-tofu-frittata&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=180" style="border: medium none; visibility: hidden; width: 0px; height: 0px;" title="fb:like Facebook Social Plugin" scrolling="no" allowfullscreen="true" allowtransparency="true" name="f2c64dbd0c5ab3" frameborder="0" height="1000px" width="180px"></iframe></span></fb:like></div>
	<footer>
		<p class="fn url girl"><a href="http://veganyackattack.com/2012/05/02/mexican-tofu-frittata/">Jackie @ Vegan Yack Attack →</a></p>
	</footer>
</article>


<article>
	<a href="http://foodsense.is/tastemakers/margarita-sorbet"><img src="images/margaritasorbet350.jpg" alt="Margarita sorbet"></a>
	<header><h1><a href="http://foodsense.is/tastemakers/margarita-sorbet">Margarita sorbet</a></h1></header>
	<p>
	Just in time for Cinco de Mayo—margarita sorbet with sweet and spicy lime-infused sea salt</p>

	<div class="facebook-like"><div id="fb-root"></div><script src="tastemakers_files/all.js"></script><fb:like fb-iframe-plugin-query="action=like&amp;app_id=180586695331037&amp;container_width=0&amp;font=lucida%20grande&amp;href=http%3A%2F%2Ffoodsense.is%2Ftastemakers%2Fmargarita-sorbet&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=180" fb-xfbml-state="parsed" class=" fb_iframe_widget" href="http://foodsense.is/tastemakers/margarita-sorbet" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe src="https://www.facebook.com/plugins/like.php?action=like&amp;app_id=180586695331037&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FuN4_cXtJDGb.js%3Fversion%3D42%23cb%3Df1be06643319e8c%26domain%3Dfoodsense.is%26origin%3Dhttp%253A%252F%252Ffoodsense.is%252Ff193dd061a4f9fa%26relation%3Dparent.parent&amp;container_width=0&amp;font=lucida%20grande&amp;href=http%3A%2F%2Ffoodsense.is%2Ftastemakers%2Fmargarita-sorbet&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=180" style="border: medium none; visibility: hidden; width: 0px; height: 0px;" title="fb:like Facebook Social Plugin" scrolling="no" allowfullscreen="true" allowtransparency="true" name="f812a3df8b1634" frameborder="0" height="1000px" width="180px"></iframe></span></fb:like></div>
	<footer>
		<p class="fn url girl"><a href="http://reciperenovator.com/special-diets/vegan/margarita-sorbet-with-sweet-and-spicy-lime-infused-sea-salt/">The Recipe Renovator →</a></p>
	</footer>
</article>


<article>
	<a href="http://foodsense.is/tastemakers/tahini-broccoli-salad-with-cashews"><img src="images/TahiniBroccoli.jpg" alt="Tahini Broccoli Salad with Cashews"></a>
	<header><h1><a href="http://foodsense.is/tastemakers/tahini-broccoli-salad-with-cashews">Tahini Broccoli Salad with Cashews</a></h1></header>
	<p> Fresh, crisp broccoli tossed with garlic tahini, cashews, and red
onions. Comes together in 5 minutes, as a side dish or light lunch.</p>
	<div class="facebook-like"><div id="fb-root"></div><script src="tastemakers_files/all.js"></script><fb:like fb-iframe-plugin-query="action=like&amp;app_id=180586695331037&amp;container_width=0&amp;font=lucida%20grande&amp;href=http%3A%2F%2Ffoodsense.is%2Ftastemakers%2Ftahini-broccoli-salad-with-cashews&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=180" fb-xfbml-state="parsed" class=" fb_iframe_widget" href="http://foodsense.is/tastemakers/tahini-broccoli-salad-with-cashews" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe src="https://www.facebook.com/plugins/like.php?action=like&amp;app_id=180586695331037&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FuN4_cXtJDGb.js%3Fversion%3D42%23cb%3Dfb038d0aeec8ec%26domain%3Dfoodsense.is%26origin%3Dhttp%253A%252F%252Ffoodsense.is%252Ff193dd061a4f9fa%26relation%3Dparent.parent&amp;container_width=0&amp;font=lucida%20grande&amp;href=http%3A%2F%2Ffoodsense.is%2Ftastemakers%2Ftahini-broccoli-salad-with-cashews&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=180" style="border: medium none; visibility: hidden; width: 0px; height: 0px;" title="fb:like Facebook Social Plugin" scrolling="no" allowfullscreen="true" allowtransparency="true" name="f13374a50f812ec" frameborder="0" height="1000px" width="180px"></iframe></span></fb:like></div>
	<footer>
		<p class="fn url girl"><a href="http://www.fortheloveoffoodblog.com/2012/04/tahini-broccoli-salad-with-cashews.html">Sonnet, For The Love of Food →</a></p>
	</footer>
</article>


<article>
	<a href="http://foodsense.is/tastemakers/sweetnutty-everything-cookies"><img src="images/everything_cookies_05.jpg" alt="Sweet+Nutty Everything Cookies"></a>
	<header><h1><a href="http://foodsense.is/tastemakers/sweetnutty-everything-cookies">Sweet+Nutty Everything Cookies</a></h1></header>
	<p>
	Full of nuts, dried fruits, oats and chocolate chips, these cookies are sublime. Gluten and dairy free.</p>

	<div class="facebook-like"><div id="fb-root"></div><script src="tastemakers_files/all.js"></script><fb:like fb-iframe-plugin-query="action=like&amp;app_id=180586695331037&amp;container_width=0&amp;font=lucida%20grande&amp;href=http%3A%2F%2Ffoodsense.is%2Ftastemakers%2Fsweetnutty-everything-cookies&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=180" fb-xfbml-state="parsed" class=" fb_iframe_widget" href="http://foodsense.is/tastemakers/sweetnutty-everything-cookies" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe src="https://www.facebook.com/plugins/like.php?action=like&amp;app_id=180586695331037&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FuN4_cXtJDGb.js%3Fversion%3D42%23cb%3Df26281e50272918%26domain%3Dfoodsense.is%26origin%3Dhttp%253A%252F%252Ffoodsense.is%252Ff193dd061a4f9fa%26relation%3Dparent.parent&amp;container_width=0&amp;font=lucida%20grande&amp;href=http%3A%2F%2Ffoodsense.is%2Ftastemakers%2Fsweetnutty-everything-cookies&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=180" style="border: medium none; visibility: hidden; width: 0px; height: 0px;" title="fb:like Facebook Social Plugin" scrolling="no" allowfullscreen="true" allowtransparency="true" name="f2de4428fff5ad" frameborder="0" height="1000px" width="180px"></iframe></span></fb:like></div>
	<footer>
		<p class="fn url girl"><a href="http://tastyplan.com/post/19803047482/cookies-for-the-soul">Tasty Plan →</a></p>
	</footer>
</article>


<article>
	<a href="http://foodsense.is/tastemakers/cranberry-lime-cocktail"><img src="images/cranberry_lime_cocktail.jpg" alt="Cranberry Lime Cocktail"></a>
	<header><h1><a href="http://foodsense.is/tastemakers/cranberry-lime-cocktail">Cranberry Lime Cocktail</a></h1></header>
	<p>
	An easy, crowd pleasing cocktail, using ingredients you have on hand.</p>

	<div class="facebook-like"><div id="fb-root"></div><script src="tastemakers_files/all.js"></script><fb:like fb-iframe-plugin-query="action=like&amp;app_id=180586695331037&amp;container_width=0&amp;font=lucida%20grande&amp;href=http%3A%2F%2Ffoodsense.is%2Ftastemakers%2Fcranberry-lime-cocktail&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=180" fb-xfbml-state="parsed" class=" fb_iframe_widget" href="http://foodsense.is/tastemakers/cranberry-lime-cocktail" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe src="https://www.facebook.com/plugins/like.php?action=like&amp;app_id=180586695331037&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FuN4_cXtJDGb.js%3Fversion%3D42%23cb%3Dfff13c88e57f54%26domain%3Dfoodsense.is%26origin%3Dhttp%253A%252F%252Ffoodsense.is%252Ff193dd061a4f9fa%26relation%3Dparent.parent&amp;container_width=0&amp;font=lucida%20grande&amp;href=http%3A%2F%2Ffoodsense.is%2Ftastemakers%2Fcranberry-lime-cocktail&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=180" style="border: medium none; visibility: hidden; width: 0px; height: 0px;" title="fb:like Facebook Social Plugin" scrolling="no" allowfullscreen="true" allowtransparency="true" name="f39bc7c4d6949ae" frameborder="0" height="1000px" width="180px"></iframe></span></fb:like></div>
	<footer>
		<p class="fn url girl"><a href="http://www.thevintagemixer.com/2012/03/easy-cranberry-lime-cocktail-recipe/">The Vintage Mixer →</a></p>
	</footer>
</article>


<div id="pagination">

	<span class="hide">|</span>

	<a href="http://foodsense.is/tastemakers/P8" class="button older">Older Recipes »</a>

</div>


</section><!-- /#main -->

</div><!-- /#content -->

<aside role="social">
	<section class="twitter">
		<h1>Latest Tweet</h1>

		<p><a href="http://twitter.com/getfoodsense" class="button">Join the Conversation</a></p>
	</section>
	<section class="facebook">
		<h1>Let's be friends!</h1>
		<p>For weekly finds, community recommendations, and more, like us on Facebook.</p>
		<p><a href="http://www.facebook.com/getfoodsense" class="button">Join the Community</a></p>
	</section>
</aside><!-- /aside -->

<footer role="siteinfo">
	<p><a href="http://foodsense.is/legal">Privacy Policy</a> | <a href="http://foodsense.is/legal#terms">Terms of Use</a> | <span id="eeEncEmail_nNYuqOAqSD"><a href="mailto:hello@foodsense.is">Contact</a></span><script type="text/javascript">/*<![CDATA[*/var l=new Array();var output = '';l[0]='>';l[1]='a';l[2]='/';l[3]='<';l[4]=' 116';l[5]=' 99';l[6]=' 97';l[7]=' 116';l[8]=' 110';l[9]=' 111';l[10]=' 67';l[11]='>';l[12]='\"';l[13]=' 115';l[14]=' 105';l[15]=' 46';l[16]=' 101';l[17]=' 115';l[18]=' 110';l[19]=' 101';l[20]=' 115';l[21]=' 100';l[22]=' 111';l[23]=' 111';l[24]=' 102';l[25]=' 64';l[26]=' 111';l[27]=' 108';l[28]=' 108';l[29]=' 101';l[30]=' 104';l[31]=':';l[32]='o';l[33]='t';l[34]='l';l[35]='i';l[36]='a';l[37]='m';l[38]='\"';l[39]='=';l[40]='f';l[41]='e';l[42]='r';l[43]='h';l[44]='a ';l[45]='<';for (var i = l.length-1; i >= 0; i=i-1){ if (l[i].substring(0, 1) == ' ') output += "&#"+unescape(l[i].substring(1))+";"; else output += unescape(l[i]);}document.getElementById('eeEncEmail_nNYuqOAqSD').innerHTML = output;/*]]>*/</script><br>© 2016 Food Sense, all rights reserved.</p>
	<div class="social">
		<ul>
			<li class="twitter"><a href="http://twitter.com/getfoodsense">Twitter</a></li>
			<li class="facebook"><a href="http://www.facebook.com/getfoodsense">Facebook</a></li>
			<li class="rss"><a href="http://foodsense.is/rss">Subscribe via RSS</a></li>
		</ul>
	</div>
</footer>

</div><!-- /#wrap -->


<!-- ANALYTICS -->
<script type="text/javascript">

</script>



</body></html>
